@use '../../theme/colors' as c;

.booking-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-top: 10px;
}

.full-width {
    width: 100%;
}

.time-selection-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.time-row {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .time-label {
        font-weight: 500;
        color: c.$text-muted;
        min-width: 70px;
        font-size: 14px;
    }
}

.selectors {
    display: flex;
    align-items: center;
    gap: 5px;

    mat-form-field.mat-mdc-form-field {
        width: 85px;
        cursor: pointer;

        ::ng-deep {

            .mat-mdc-text-field-wrapper {
                padding-right: 8px;
            }

            .mat-mdc-form-field-infix {
                padding-right: 0;
                min-height: 40px;
                text-align: center;
            }

            // стрелочка
            .mat-mdc-form-field-icon-suffix {
                padding: 0;
                margin-right: -4px;
            }

            .mat-mdc-form-field-subscript-wrapper {
                display: none;
            }
        }

        .select-arrow {
            color: c.$text-muted;
            font-size: 22px;
            width: 22px;
            height: 22px;
            pointer-events: none;
        }
    }

    .colon {
        font-weight: bold;
        font-size: 18px;
        color: c.$text-muted;
        line-height: 1;
    }
}

.error-msg {
    font-size: 12px;
    color: c.$accent;
    text-align: center;
    padding: 10px;
    background-color: c.$background;
    border-radius: 4px;
    border: 1px solid c.$background;
}